@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

body {
  @apply font-sans;
}

/* body,
html {
  background-image: url("/bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 183, 41%, 5%, 1;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    /* Primary color */
    --primary: 180, 100%, 82%, 1;
    --primary-hover: 180, 100%, 77%, 1;
    --primary-focus: 180, 100%, 77%, 1;

    /* Accent color */
    --accent: 2, 74%, 79%, 1;
    --accent-hover: 2, 74%, 79%, 0.7;
    --accent-focus: 2, 74%, 74%, 1;

    /* White button color */
    --white-button: 0 0% 100%;
    --white-button-hover: 0, 0%, 100%, 0.6;
    --white-button-focus: 0, 0%, 95%, 1;

    /* Tertiary color */
    --tertiary: 180, 10%, 80%, 1;

    /* Other existing variables */
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    /* Chart colors (unchanged) */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
